{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création de la VM confirmée</h1>

    <p>Vous allez recevoir un email contenant les informations <strong>login + mot de passe</strong> pour vous connecter à votre machine.</p>
    <br />
    <p>La connection à votre machine se fera en SSH via l'IP {{ infos.4 }}</p>
{% endblock %}