{% extends 'base.html.twig' %}

{% block body %}

<h2>Splinter</h2>
<div id="menu">
    <ul>
        <li><a href="#">Create</a></li>
        <li><a href="#">Historique</a></li>
    </ul>
</div>
<div id="dashboard">
    <button type="button" class="btn btn-danger">button</button>
</div>

{% endblock %}