{% extends 'base.html.twig' %}

{% block body %}

<h1>Créez votre VM personalisée</h1>

<form id="dockerBuildForm" method="post">
    <label>
        <select id="image">
            <option>Cent OS</option>
            <option>Debian</option>
            <option>Ubuntu</option>
        </select>
    </label>
    <input type="submit" class="btn--success" value="Valider" />
</form>

{% endblock %}