<form id="dockerBuildForm" method="post">
    <label>
        <select id="image">
            <option>Cent OS</option>
            <option>Debian</option>
            <option>Ubuntu</option>
        </select>
    </label>

</form>