{% extends 'base.html.twig' %}

{% block body %}

<div class="imagebuilder-content center">
    <h1>Créez votre VM personalisée</h1>

    <form id="dockerBuildForm" action="{{ path('generate') }}" method="post">

        <h3>Système d'exploitation :</h3>

        <ul class="machine_config is-unstyled">
            <li>
                <input type="radio" class="radio" name="image_os" id="r1" checked="checked" value="debian-9">
                <label for="r1">Debian 9</label>
            </li>
            <li>
                <input type="radio" class="radio" name="image_os" id="r2" value="centos-6">
                <label for="r2">CentOS 6</label>
            </li>
            <li>
                <input type="radio" class="radio" name="image_os" id="r3" value="centos-7">
                <label for="r3">CentOS 7</label>
            </li>
            <li>
                <input type="radio" class="radio" name="image_os" id="r4" value="ubuntu-1404-lts">
                <label for="r4">Ubuntu 14.04 lts</label>
            </li>
            <li>
                <input type="radio" class="radio" name="image_os" id="r5" value="ubuntu-1604-lts">
                <label for="r5">Ubuntu 16.04 lts</label>
            </li>
            <li>
                <input type="radio" class="radio" name="image_os" id="r6" value="ubuntu-1804-lts">
                <label for="r6">Ubuntu 18.04 lts</label>
            </li>
            <li>
                <input type="radio" class="radio" name="image_os" id="r7" value="ubuntu-1810">
                <label for="r7">Ubuntu 18.10</label>
            </li>
            <li>
                <input type="radio" class="radio" name="image_os" id="r8" value="ubuntu-1904">
                <label for="r8">Ubuntu 19.04</label>
            </li>
        </ul>

        <h3>Type de machine :</h3>

        <div class="machine_config">
            <label for="type-machine-select"></label>
            <select name="type-machine" id="type-machine-select">
                <option value="f1-micro">f1-micro</option>
                <option value="g1-small">g1-small</option>
                <option value="n1-standard-1">n1-standard-1</option>
                <option value="n1-standard-2">n1-standard-2</option>
                <option value="n1-standard-4">n1-standard-4</option>
                <option value="n1-standard-8">n1-standard-8</option>
                <option value="n1-highmem-2">n1-highmem-2</option>
                <option value="n1-highmem-4">n1-highmem-4</option>
                <option value="n1-highmem-8">n1-highmem-8</option>
                <option value="n1-highcpu-2">n1-highcpu-2</option>
                <option value="n1-highcpu-4">n1-highcpu-4</option>
                <option value="n1-highcpu-8">n1-highcpu-8</option>
            </select>
        </div>

        <h3>Zone et région</h3>

        <select name="region" id="region-select">
            <option value="asia-east1">asia-east1</option>
            <option value="asia-east2">asia-east2</option>
            <option value="asia-northeast1">asia-northeast1</option>
            <option value="asia-south1">asia-south1</option>
            <option value="asia-southeast1">asia-southeast1</option>
            <option value="australia-southeast1">australia-southeast1</option>
            <option value="europe-north1">europe-north1</option>
            <option value="europe-west1">europe-west1</option>
            <option value="europe-west2">europe-west2</option>
            <option value="europe-west3">europe-west3</option>
            <option value="europe-west4">europe-west4</option>
            <option value="northamerica-northeast1">northamerica-northeast1</option>
            <option value="southamerica-east1">southamerica-east1</option>
            <option value="us-central1">us-central1</option>
            <option value="us-east1">us-east1</option>
            <option value="us-east4">us-east4</option>
            <option value="us-west1">us-west1</option>
            <option value="us-west2">us-west2</option>
        </select>

        <select name="zone" id="zone-select">
            <option value="">-- select one -- </option>
        </select>

        <div id="os_versions_block"></div>

        <h3>Packages pré-installés sur votre machine :</h3>
        <section class="grid-4">
            <div>
                <ul class="machine_config is-unstyled">
                    <li>
                        <input type="checkbox" name="packages[]" class="checkbox" id="c1" checked="checked" value="nano">
                        <label for="c1">nano</label>
                    </li>
                    <li>
                        <input type="checkbox" name="packages[]" class="checkbox" id="c2" value="htop">
                        <label for="c2">htop</label>
                    </li>
                    <li>
                        <input type="checkbox" name="packages[]" class="checkbox" id="c3" value="apache">
                        <label for="c3">apache</label>
                    </li>
                    <li>
                        <input type="checkbox" name="packages[]" class="checkbox" id="c4" value="nginx">
                        <label for="c4">nginx</label>
                    </li>
                </ul>
            </div>
            <div>
                <ul class="machine_config is-unstyled">
                    <li>
                        <input type="checkbox" name="packages[]" class="checkbox" id="c1" value="php">
                        <label for="c1">php</label>
                    </li>
                    <li>
                        <input type="checkbox" name="packages[]" class="checkbox" id="c2" value="python">
                        <label for="c2">python</label>
                    </li>
                    <li>
                        <input type="checkbox" name="packages[]" class="checkbox" id="c3" value="ruby">
                        <label for="c3">ruby</label>
                    </li>
                    <li>
                        <input type="checkbox" name="packages[]" class="checkbox" id="c4" value="gem">
                        <label for="c4">gem</label>
                    </li>
                </ul>
            </div>
            <div>
                <ul class="machine_config is-unstyled">
                    <li>
                        <input type="checkbox" name="packages[]" class="checkbox" id="c1" value="yarn">
                        <label for="c1">yarn</label>
                    </li>
                    <li>
                        <input type="checkbox" name="packages[]" class="checkbox" id="c2" value="mysql">
                        <label for="c2">mysql</label>
                    </li>
                    <li>
                        <input type="checkbox" name="packages[]" class="checkbox" id="c3" value="npm">
                        <label for="c3">npm</label>
                    </li>
                    <li>
                        <input type="checkbox" name="packages[]" class="checkbox" id="c4" value="nodejs">
                        <label for="c4">nodejs</label>
                    </li>
                </ul>
            </div>
            <div>
                <ul class="machine_config is-unstyled">
                    <li>
                        <input type="checkbox" name="packages[]" class="checkbox" id="c1" value="netstat">
                        <label for="c1">netstat</label>
                    </li>
                    <li>
                        <input type="checkbox" name="packages[]" class="checkbox" id="c2" value="curl">
                        <label for="c2">curl</label>
                    </li>
                    <li>
                        <input type="checkbox" name="packages[]" class="checkbox" id="c3" value="git">
                        <label for="c3">git</label>
                    </li>
                    <li>
                        <input type="checkbox" name="packages[]" class="checkbox" id="c4" value="zip">
                        <label for="c4">zip</label>
                    </li>
                </ul>
            </div>
        </section>

        <div class="bottom_generate">
            <input type="submit" id="generate_docker_file" class="btn--success" value="Generate" />
        </div>
    </form>

</div>

{% endblock %}
