body {
    padding: 50px 150px;
    background-color: #efefef;
}
.green-btn {
    margin: 5px;
}
#os_version {
    margin-right: 4px;
    min-width: 300px;
}
#tags_tagsinput{
    margin: 15px 0;
}
.login-block {
    margin-bottom: 5px;
}
.login-content {
    padding: 10px;
    background-color: white;
    border: solid 1px lightgray;
    max-width: 300px;
    margin: auto;
}
.login-content h1 {
    margin: auto;
    width: 240px;
}
.login-field {
    width: 100%;
}
.login-submit {
    margin: auto;
    width: 112px;
}
.login-submit input {
    width: 100%;
}

.register-content {
    padding: 10px;
    background-color: white;
    border: solid 1px lightgray;
    max-width: 300px;
    margin: auto;
}

.register-content input {
    width: 100%;
}

.register-content label {
    margin-top: .5rem;
}

.register-content input.btn--primary {
    background-color: #333;
    margin-top: 1.5rem;
}

.log-state {
    text-align: center;
    padding: 10px;
    background-color: white;
    border: solid 1px lightgray;
    max-width: 300px;
    margin: 0 auto 1.5rem auto;
}

.register-confirmed {
    padding: 10px;
    background-color: white;
    border: solid 1px lightgray;
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.login-already-log {
    padding: 10px;
    background-color: white;
    border: solid 1px lightgray;
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.dashboard-container {
    padding: 10px;
    background-color: white;
    border: solid 1px lightgray;
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.dashboard-login {
    padding: 10px;
    background-color: white;
    border: solid 1px lightgray;
    max-width: 300px;
    margin: 0 auto 1.5rem auto;
    text-align: center;
}

.imagebuilder-content {
    padding: 10px;
    background-color: white;
    border: solid 1px lightgray;
    max-width: 1000px;
    margin: auto;
}

.imagebuilder-content h1 {
    text-align: center;
}

.imagebuilder-content .bottom_generate {
    text-align: center;
}

.history-container {
    padding: 10px;
    background-color: white;
    border: solid 1px lightgray;
    max-width: 900px;
    margin: auto;
}

.history-container h1 {
    text-align: center;
    margin-bottom: 30px;
}


.history-container ul.vm-container {
    list-style: none;
    display: flex;
    padding-left: 30px;
    border: 1px solid lightgray;
}

.history-container ul.vm-container li {
    margin: auto;
}

.history-container ul.vm-container li.nb-vm {
    margin: 5px;
}

.history-container ul.vm-container button {
    border: 1px solid #d9534f;
}

.machine_config {
    padding: 25px !important;
}

.spinner{
    visibility: hidden;
    width: 30px;
    height: 30px;

    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;

    position: absolute;
    top:0;
    bottom:0;
    left:-200px;
    right: 0;
    margin: auto;

    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
          transform: rotate(360deg);
      }
}

.spinner.show {
    visibility: visible;
}

.history-container ul li:last-child{
    position: relative;
    margin: 0;
}